@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");

body {
	margin: 0;
	padding: 0;
}

.hero__image {
	/* background-image: url("../assets/hero.jpg"); */
	background-image: url(.\assets\hero.jpg); 
	background-size: cover; 
	background-position: no-repeat;
	height: 80vh;
}

.skills__list {
	display: grid;
	grid-template-columns: repeat(4, minmax(125px, 1fr));
	gap: 1rem;
	justify-items: center;
}

@media only screen and(max-width: 576px){
	.brand__name {
		display: none;
	}

	.skills_list {
		grid-template-columns: 1fr;
	}

	.app__bar {
		display: none;
	}

	.skill__item {
		margin: 1rem 0;
	}
}